<%= form_for(@cashbook) do |f| %>
  <% if @cashbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashbook.errors.count, "error") %> prohibited this cashbook from being saved:</h2>

      <ul>
      <% @cashbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  
  Date: <%= f.date_select :date %> <br>
Debit : <%= f.select :debit_id, Debit.all.collect {|t| [t.name, t.id]}%> <br>
Credit : <%= f.select :credit_id, Credit.all.collect {|t| [t.name, t.id]}, { include_blank: true}%> <br>

Amount :   <%= f.text_field :amount %> <br>
   <%= f.submit "Voucher"%>
   <% end %>