<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @cashbook.date %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @cashbook.debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @cashbook.credit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cashbook.amount %>
</p>

<%= link_to 'Edit', edit_cashbook_path(@cashbook) %> |
<%= link_to 'Back', cashbooks_path %>
