<h3><%= @credit_transactions.first.credit.name %> Ledger Details</h3>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th> <div align="center"> Date </div> </th>
      <th> <div align="center"> Ledger </div> </th>      
      <th> <div align="center"> Credit </div> </th>
      <th> <div align="center"> Total </div> </th>      
    </tr>
  </thead>
<% @zero = 0 %> 
  <tbody>
    <% @credit_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date.strftime("%d-%b-%Y") %></td>
        
        <td><%= Debit.find(transaction.debit_id).name %></td>
        <td> <div align="right"> <%= number_to_currency(transaction.amount, :unit => 'INR ') %> </div> </td>      
        <td> <div align="right"> <%= number_to_currency(@total = @zero += transaction.amount, :unit => 'INR ') %> </div> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%#= @total %>
<br>

<%= link_to 'back', cashbooks_path, class: "btn btn-mini btn-primary active" %>
